@page "/about"
@using dev_portfolio.Components.Data
@using dev_portfolio.Components.Models

@inject IConfiguration config
@inject DeveloperProfileService profileService

<PageTitle>About Me</PageTitle>

<MudContainer>
    <MudGrid Justify="Justify.Center" Class="mt-8">
       @if (profile is null) 
       {
            <p>Loading ...</p>
       }
       else 
       {
        <MudItem xs="12" sm="4">
            <MudCard>
                <MudCardContent>
                    <MudAvatar Style="height:200px; width:200px; margin-bottom: 20px;">
                        <MudImage Src="@profile.AvatarUrl"/> 
                    </MudAvatar>
                    <MudText Typo="Typo.h5">@profile.Name</MudText>
                    <MudText Typo="Typo.subtitle1" Color="Color.Secondary">@profile.Title</MudText>
                </MudCardContent>
                <MudCardActions>
                    @foreach (var social in profile.SocialLinks)
                    {
                        <MudButton Href="@social.Value" Target="_blank" Variant="Variant.Text" Color="Color.Primary">@social.Key</MudButton>
                    }
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="8">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h6" GutterBottom="true">About Me</MudText>
                    <MudText Typo="Typo.body1">@profile.Bio</MudText>
                    <MudDivider Class="my-4" />
                    <MudText Typo="Typo.h6" GutterBottom="true">Skills</MudText>
                    @foreach (var skill in profile.Skills)
                    {
                        <MudChip T="string" Color="Color.Primary">@skill</MudChip>
                    }
                </MudCardContent>
            </MudCard>
        </MudItem>
       }
    </MudGrid>
</MudContainer>

@code 
{ 
    private IConfiguration? _config;
    private DeveloperProfile? profile = null;

    protected override async Task OnInitializedAsync() 
    { 
        _config = config;
        var profileOwner = _config["Profile:Owner"];
        if (profileOwner is not null)
            profile = await profileService.GetProfile(profileOwner);
    }
}
