@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using dev_portfolio.Components.Models

@namespace dev_portfolio.Components.Reusable

<MudItem xs="12" sm="6" md="4">
  <MudCard>
    <MudCardMedia Image="@ProjectData.ImageUrl" Height="200" />
    <MudCardHeader>
      <MudText Typo="Typo.h5">@ProjectData.Title</MudText>
    </MudCardHeader>
    <MudCardContent>
      <MudText Typo="Typo.body2">@ProjectData.Description</MudText>
      <div class="mt-2">
        @if (!Featured && ProjectData.Technologies is not null)
        {
          @foreach (var tech in ProjectData.Technologies)
          {
            <MudChip T="string" Size="Size.Small" Color="Color.Primary">@tech</MudChip>
          }
        }
      </div>
    </MudCardContent>
    <MudCardActions>
      <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="@ProjectData.RepoUrl" Target="_blank"
          Color="Color.Primary" Disabled="@ButtonStates[0]" aria-label="github" />
        <MudIconButton Icon="@Icons.Material.Filled.Language" Href="@ProjectData.LiveUrl" Target="_blank"
          Color="Color.Warning" Disabled="@ButtonStates[1]" aria-label="Live Demo" />
        <MudIconButton Icon="@Icons.Custom.Brands.YouTube" Href="@ProjectData.DemoUrl" Target="_blank"
          Color="Color.Error" Disabled="@ButtonStates[2]" aria-label="Video Demo" />
      </MudButtonGroup>
    </MudCardActions>
  </MudCard>
</MudItem>

@code
{
    [Parameter, EditorRequired]
    public Project ProjectData { get; set; }

    [Parameter]
    public bool Featured { get; set; } = false;

    public bool[] ButtonStates { get; set; } = [false, false, false];

    public void ValidateButtonStates()
    {
        if (ProjectData.RepoUrl is null)
            ButtonStates[0] = true;
        if (ProjectData.LiveUrl is null)
            ButtonStates[1] = true;
        if (ProjectData.DemoUrl is null)
            ButtonStates[2] = true;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ValidateButtonStates();
    }
}